

@media only screen and (max-width: 64em) and (min-width: 20.01em) {
   .menu-main-menu-container {
       display: block;
       visibility: visible;
   }
}


body {
    height: 100vh;
}

footer {
    /*bottom: 0px;*/
    /*position: absolute;*/
    /*width: 100%;*/
}


