
@font-face {
    font-family: sf;
    src: url('/fonts/strawberry-blossom/Strawberry_Blossom.ttf');
}


.font-size-40 {
    font-size: 40px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-80 {
    font-size: 80px;
}



/*@font-face {*/
/*    font-family: gh;*/
/*    src: url('/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf');*/
/*}*/
/**/
#retreat-day3-row {
    background-image: url("/images/obrady/forrest.jpg");
    min-height: 400px;
    background-attachment: fixed;
}

#retreat-day3-row  p {
    background-color: rgba(255, 255, 255, 0.7);
}

#retreat-day3-row  blockquote {
    background-color: #fff;
}

#retreat-day3-row  .font-just-me {
    color: #fff;
}


#iboga-bwiti-tradice-top-iamge {
    display: block;
    min-height: 600px;
    background-image: url("/images/iboga/bwiti-scotty-1200.jpg");
}

#iboga-bwiti-tradice-top-iamge h2{
    color: #fff;
    margin-left: 20px;
}

#iboga-bwiti-tradice-top-iamge .text-box{
    color: #fff;
    margin-left:20px;
    margin-top: 20px;
}

#iboga-bwiti-tradice-top-iamge .text-box  h3{
    color: #fff;

}

.background-text-light-grey {
    background-color: #F4F4F4;
}

.bwiti-tradice-h3 {
    font-style: normal;
    font-size: 40px;
}

.header-bottom-row {
    background-color: black;
    max-width: 1200px;
    margin: auto;
}


.pobyt-day-box {
    background: radial-gradient(ellipse 100% 7% at 50% 100%, rgba(55, 55, 55, 0.5) 200px, rgba(55, 55, 55, 0.1) 360px, white 380px);
}

.retreats-img-box {
    display:   block;
    background: red;
    width: 100vw;
    height: 100vh;
}

ul.lh-150 li {
    line-height: 140%;
}

@media only screen and (max-width: 64em) and (min-width: 20.01em) {
   .menu-main-menu-container {
       display: block;
       visibility: visible;
   }
}
#pobyty-list-overview {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

/*.font-s-blossom {*/
/*    font-family: Samble;*/
/*    font-size: 30px;*/
/*    color: #b81300;*/
/*}*/

/*.font-brillotus {*/
/*     font-family: Brillotus;*/
/*     font-size: 50px;*/

/*     color: #b81300;*/
/* }*/


.font-just-me {
    font-family: 'Just Me Again Down Here', cursive;
    color: #b81300;
    font-weight: 700;
}

.font-just-me-small {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 30px;
    color: #b81300;
    font-weight: 700;
}


.font-gh {
    font-family: gh;
    font-size: 50px;

    color: #b81300;
}

.font-samble {
    font-family: Samble;
    font-size: 30px;
    color: #b81300;
}

#pobyty-list-overview  li {
    line-height: 200%;
}

#pobyty-list-overview li span{
    color: #46b105;
    font-weight: 900;
    font-size: 50px;
    font-family: Samble;
}


/* ================================ */
blockquote {
    border-left: 3px solid red;
    color: #1a1a1a;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.8em;
    margin: 1.1em 0 !important;
    padding: 1em 2em;
    position: relative;
    transition: 0.2s border ease-in-out;
    z-index: 0;
    margin-top: 3em;


    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

blockquote:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    height: 2em;
    background-color: #fff;
    width: 5px;
    margin-top: -1em;
}
blockquote:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5em;
    color: #00CC8F;
    font-family: "Ionicons";
    font-style: normal;
    line-height: 1em;
    text-align: center;
    text-indent: -2px;
    width: 1em;
    margin-top: -0.5em;
    transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
}
blockquote.format:before, blockquote.format:after {
    display: none;
}
blockquote.book:after {
    content: "";
}
blockquote.podcast:after {
    content: "";
}
blockquote.lyrics:after {
    content: "";
}
blockquote.favorite:after {
    content: "";
}
blockquote:active:after {
    transform: rotateY(360deg);
}
blockquote cite {
    display: block;
    font-size: 0.75em;
    line-height: 1.8em;
    margin-top: 1em;
}

#iboga-benefits .col ol{
    background: red;
}


/* ================== */

section.home-section-ziot-je-dar {
    background-color: #EBEBEB;;
    color: red;
    font-family: "Lato", Sans-serif;
}

section.home-section-ziot-je-dar h1,  section.home-section-ziot-je-dar h2{
    color: red;
    font-weight: 900;
    margin-top: 2em;
}

#home-kdo-jsme h2 {
    color: #242426;
    font-family: "Lato", Sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0px;
}
#home-kdo-jsme {
    background-color: #EBEBEB;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 62px 0px 70px 0px;
}

#home-kdo-jsme .box-kdo-jsme {
    min-height: 360px;
}

.row-kdo-jsme {
    max-width: 1200px;
}

.site-content {
    max-width: 1200px;
    margin: auto;
}

.show-more-button.jet-button__plane-normal {

    background-color: red;

}

.row-show-more-button {
    bottom: 10px;
    position: absolute;
}

#home-parallax {
    background-image: url(http://www.ibogaspirit.cz/wp-content/uploads/2022/10/bwiti-all-1200.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;

    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 135px 0px 110px 0px;
    -widgets-spacing: 20px;
}

    #home-parallax h2 {
        color: #FFFFFF;
        font-family: "Lato", Sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: 2px;
    }

#home-parallax p {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
}


div.row.page-header-bg {
    display: block;
    width: 100%;
    height: 200px;
}

#iboga-index-page-header {
    background-image: url('/images/iboga/iboga-woods-header.jpg');
}

#iboga-vs-aya-page-header {
    background-image: url('/images/iboga/iboga-banner-1200.jpg');
}

#iboga-vs-aya-page-pg-entheo {
    background-image: url('/images/iboga/iboga-vs-aya-entheogens.jpeg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#iboga-vs-aya-page-pg-diet {
    background-image: url('/images/iboga/iboga-vs-aya-entheogens.jpeg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.box-bg-scrollaable {
    display: block;
    width: 100%;
    height: 200px;
    background-position: top;
    background-attachment: fixed;

}

#home-zijte-stastne-pic {
    min-height: 400px;
    width: 100%;
    display:block;
    background-color: red;
    background-image: url('/images/home/poznejte/happy_1200.jpeg');

    height: 100vh;
}

/******************************************************************
        W E B S I T E
******************************************************************/
@media screen and (min-width: 601px) {

    body {
        height: 100vh;
    }


    footer {
        /*bottom: 0px;*/
        /*position: absolute;*/
        /*width: 100%;*/
    }




    section.home-section-ziot-je-dar ing{
        object-fit: cover;
        height: 100%;
    }

    home-section-ziot-je-dar  .padded{
        padding-top: 30px;
    }



    section.home-section-ziot-je-dar .wrapper {
        margin-left: 100px;
        margin-right: 100px;
    }

    section.home-section-ziot-je-dar .wrapper {
        margin-left: 100px;
        margin-right: 100px;
    }


    section.home-section-ziot-je-dar h1 {
        font-size: 50px;
        color: black;
    }


    section.home-section-ziot-je-dar p {
        color: #5e5e5e;
        font-size: 15px;

    }

    section.home-section-ziot-je-dar .col p:first-child {
        color: #fff;
        font-size: 20px;
        font-weight: 900;
    }



    section.home-section-ziot-je-dar h2 {
        font-size: 20px;
    }


    .animation-element {
        opacity: 0;
        position: relative;
    }
    /*animation element sliding left*/

    .animation-element.slide-left {
        opacity: 0;
        -moz-transition: all 500ms linear;
        -webkit-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        -moz-transform: translate3d(-100px, 0px, 0px);
        -webkit-transform: translate3d(-100px, 0px, 0px);
        -o-transform: translate(-100px, 0px);
        -ms-transform: translate(-100px, 0px);
        transform: translate3d(-100px, 0px, 0px);
    }

    .animation-element.slide-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    /*animation slide left styled for testimonials*/

    .animation-element.slide-left.testimonial {
        float: left;
        width: 47%;
        margin: 0% 1.5% 3% 1.5%;
        background: #F5F5F5;
        padding: 15px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        border: solid 1px #EAEAEA;
    }
    .animation-element.slide-left.testimonial:hover,
    .animation-element.slide-left.testimonial:active{
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .animation-element.slide-left.testimonial:nth-of-type(odd) {
        width: 48.5%;
        margin: 0% 1.5% 3.0% 0%;
    }

    .animation-element.slide-left.testimonial:nth-of-type(even) {
        width: 48.5%;
        margin: 0% 0% 3.0% 1.5%;
    }

    .animation-element.slide-left.testimonial .header{
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    .animation-element.slide-left.testimonial .left{
        float: left;
        margin-right: 15px;
    }
    .animation-element.slide-left.testimonial .right{
        float: left;
    }

    .animation-element.slide-left.testimonial img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
    }

    .animation-element.slide-left.testimonial h3 {
        margin: 0px 0px 5px 0px;
    }

    .animation-element.slide-left.testimonial h4 {
        margin: 0px 0px 5px 0px;
    }

    .animation-element.slide-left.testimonial .content {
        float: left;
        width:100%;
        margin-bottom: 10px;
    }

    .animation-element.slide-left.testimonial .rating{}

    .animation-element.slide-left.testimonial i {
        color: #aaa;
        margin-right: 5px;
    }

    #home-parallax h2 {
        color: #FFFFFF;
        font-family: "Lato", Sans-serif;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: 2px;
    }

}




/******************************************************************
        M O B I L E
 *****************************************************************/
@media screen and (max-width: 600px) {
    section.home-section-ziot-je-dar .wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    /*
    section.home-section-ziot-je-dar
     */
     h1 {
        font-size: 32px;
    }

    section.home-section-ziot-je-dar h1 {
        font-size: 32px;
    }


    section.home-section-ziot-je-dar p {
        font-size: 16px;

    }

    #home-parallax h2 {

        font-size: 32px;

    }
}







/*media queries for small devices*/
@media screen and (max-width: 678px){
    /*testimonials*/
    .animation-element.slide-left.testimonial,
    .animation-element.slide-left.testimonial:nth-of-type(odd),
    .animation-element.slide-left.testimonial:nth-of-type(even){
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .animation-element.slide-left.testimonial .right,
    .animation-element.slide-left.testimonial .left,
    .animation-element.slide-left.testimonial .content,
    .animation-element.slide-left.testimonial .rating{
        text-align: center;
        float: none;
    }
    .animation-element.slide-left.testimonial img{
        width: 85px;
        height: 85px;
        margin-bottom: 5px;
    }

}


/*  HOME */
#home-zijte-stastne  {
    color: #fff;
    font-family: "Lato", Sans-serif;
    background-color: #000;
    padding-top: 20px;
}

#home-zijte-stastne .container-fluid {
    background-color: #000;
}

/*#home-zijte-stastne .container-fluid .stastne-half-col-bg-left {*/
/*    background-color: #000;*/
/*}*/

#home-zijte-stastne .container-fluid div.stastne-half-col-bg-left div.row {
    position: relative;
    align-content: end;
    justify-content: right;
}

#home-zijte-stastne .container-fluid .stastne-half-col-bg-right {
    background-color: #54595F;
}

#home-zijte-stastne .container-fluid div div.row .col  {
    max-width: 500px;
}

#home-stastne-left-col {
    min-height: 475px;
}

#home-stastne-left-col .row-show-more-button {
    bottom: 30px;
}

#home-zijte-stastne  h2 {
    font-weight: 900;
    font-size: 50px;
    color: #fff;
}

.menu-iboga-container a {
    text-transform: uppercase;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 0px;
    text-decoration:  none;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: block;
}

.menu-iboga-container .menu-item:hover {
    background-color: red;
    color: red;
}
