:root {
    --dark-red: #b81300;
    --dark-green: rgba(79, 129, 15, 1);
    --okr: rgba(177, 153, 70, 1);
    --okr-light: rgb(229 225 208);
    --okr-light2: #f5f2e4;
    --beige: rgba(188, 183, 170, 0.5);
    --beige-light: rgba(229 222 204, 1);
    --okr2: rgba(225, 145, 77, 1);
    --iscz-brown: #813007;
    --iscz-brown2: #89590a;
    --iscz-orange: #DF7015;
    --iscz-light-green : #e3ffe7;

    --iscz-light-green2 : #e1f0e3;
    --iscz-light-yellow : #fff5d9;
}

a {
    color: #9a5959;
}

img {
    /*object-fit: contain;*/
}

img.img-no-fit {
    object-fit: initial;
    width: 64px;
}
a:hover {
    color: var(--dark-red) !important;
}

.h1-heading {
    font-size: 80px;
}

.h2-heading {
    font-size: 60px;
}

.h3-heading {
    font-size: 40px;
}

@font-face {
    font-family: sf;
    src: url('/fonts/strawberry-blossom/Strawberry_Blossom.ttf');
}

@font-face {
    font-family: thesignture;
    src: url('/fonts/thesignature/Thesignature.ttf');
}

.font-signature {
    font-family: thesignture, Arial;
}

.font-sf {
    font-family: sf, Arial;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-80 {
    font-size: 80px;
}

.font-size-100 {
    font-size: 100px;
}

.color-iscz-red {
    color: var(--dark-red);
}

.color-iscz-green {
    color: var(--dark-green);
}

.color-iscz-orange {
    color: var(--iscz-orange);
}

.iboga-helps-block {

}


.site-header {
    background: rgb(242,242,242);
    background: linear-gradient(90deg, rgba(242,242,242,1) 21%, rgba(171,92,15,1) 65%, rgba(62,0,0,1) 100%);
}

/* retreats */
.retreat-info {
    display: block;
    background-color: rgb(242 246 235);
    padding: 10px;
}

.retreat-info:hover{
    border: #1c7430;
    background-color: #DEF6DB;
    padding: 10px;
}

.retreat-info h3{
    color: var(--dark-green);
    font-weight: 900;
    font-size: 34px;
}

.retreat-info .retreat-image {
    display: block;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.retreat-info .free-spots {
    display: block;
    width: 100%;
    background-color: var(--dark-green);
    color: #fff;
    margin-bottom: 20px;
}

.retreat-info .retreat-price .price-usd {
    color: var(--dark-green);
    font-weight: 900;
    font-size: 20px;
    font-family: "Lato", "Arial";
}

.retreat-info .retreat-price .price-czk {
    color: var(--dark-red);
    font-weight: 900;
    font-size: 30px;
    font-family: "Lato", "Arial";
}

.retreat-info:nth-child(2) {
    display: block;
    background-color: #C1916B;
    padding: 10px;
}

.retreat-info:nth-child(3) {
    display: block;
    background-color: rgb(242 246 235);
    padding: 10px;
}


blockquote .feedback-green {
    border-left: 3px solid var(--dark-green);
}

blockquote .small-bq {
    font-size:24px;
}

#img-box-iboga-helps {
    display: block;
    width: 100%;
    min-height: 400px;
    background-image: url('/images/headers/misc-nature-trip-woman.jpeg');
    margin-left: 0px;
}

#img-box-iboga-helps-middle {
    display: block;
    width: 100%;
    min-height: 468px;
    background-image: url('/images/headers/sunshine-meadow.jpeg');
}

#img-box-iboga-helps-middle blockquote{
    color: var(--dark-red);
    padding-top: 80px;
    border-left: 0px;
}

#img-box-iboga-helps-middle blockquote:before{
    padding-top: 80px;
}

#img-box-iboga-helps  h2 {
     color: #6b4c16;
    padding-bottom: 100px;
 }

#img-box-iboga-helps  blockquote {
    color: var(--dark-red); /*#6b4c16;*/
    width: 600px;
    margin-left: 50px;
}

blockquote {
    border-left: 3px solid red;
    color: red;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 28px;
    font-style: italic;
    line-height: 1.8em;
    margin: 1.1em 0 !important;
    padding: 1em 2em;
    position: relative;
    transition: 0.2s border ease-in-out;
    z-index: 0;
    margin-top: 3em;
}

blockquote:before {
    content: "\201C";
    position: absolute;
    top: 50%;
    left: -4px;
    height: 2em;
    width: 5px;
    margin-top: -1em;
    background: none;
}
/*blockquote:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: -0.5em;*/
/*    color: #00CC8F;*/
/*    font-family: "Ionicons";*/
/*    font-style: normal;*/
/*    line-height: 1em;*/
/*    text-align: center;*/
/*    text-indent: -2px;*/
/*    width: 1em;*/
/*    margin-top: -0.5em;*/
/*    transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;*/
/*}*/

blockquote.format:before, blockquote.format:after {
    display: none;
}
blockquote.book:after {
    content: "";
}
blockquote.podcast:after {
    content: "";
}
blockquote.lyrics:after {
    content: "";
}
blockquote.favorite:after {
    content: "";
}
blockquote:active:after {
    transform: rotateY(360deg);
}
blockquote cite {
    display: block;
    font-size: 0.75em;
    line-height: 1.8em;
    margin-top: 1em;
}

/*** EIGHT DAY RETREAT *******************/



#eight-day-retreat-includes-box {
    display: flex;
    background-color: #e6f5ea;
}


#eight-day-retreat-includes-box div.item p{
    text-align: center;
    align-items: center;
    margin-top: 35px;
}
#eight-day-retreat-includes-box div.item img{
    margin: auto;
    display: flex;
}

#eight-day-retreat-includes-box div.item {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}

#eight-day-retreat-includes-box div.item:hover {
    background-color: rgb(166, 191, 136);
    color: #fff;
}


/*@font-face {*/
/*    font-family: gh;*/
/*    src: url('/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf');*/
/*}*/
/**/
#retreat-day3-row {
    background-image: url("/images/obrady/forrest.jpg");
    min-height: 400px;
    background-attachment: fixed;
}

#retreat-day3-row  p {
    background-color: rgba(255, 255, 255, 0.7);
}

#retreat-day3-row  blockquote {
    background-color: #fff;
}

#retreat-day3-row  .font-just-me {
    color: #fff;
}


#iboga-bwiti-tradice-top-image {
    display: block;
    min-height: 600px;
    background-image: url("/images/iboga/bwiti/bwiti-scotty-1200.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    margin-left: 0px;
}

#iboga-bwiti-tradice-top-image h2{
    color: #fff;
    margin-left: 20px;
}

#iboga-bwiti-tradice-top-image .text-box{
    color: #fff;
    margin-left:20px;
    margin-top: 20px;
}

#iboga-bwiti-tradice-top-image .text-box  h3{
    color: #fff;
}

.background-text-light-grey {
     background-color: #F4F4F4;
 }

.background-text-light-okr {
    background-color: var(--okr-light);
}

.background-text-light-okr2 {
    background-color: var(--okr-light2);
}

.background-text-light-green {
    background-color: var(--iscz-light-green2);
}

.background-text-light-yellow {
    background-color: var(--iscz-light-yellow);
}

.background-text-light-blue {
    background-color: rgba(40, 133, 191, .15);
}



.bwiti-tradice-h3 {
    font-style: normal;
    font-size: 40px;
}

.header-bottom-row {

    max-width: 1200px;
    margin: auto;
    text-align: right;
    background-color: #fff;
}

.header-bottom-row .languages a{
    display: inline-block;
    clear: none;
    color: #6e6e6e;
    text-decoration: none;
}


.header-bottom-row a {
     color: rgba(153,153,153,1);
     text-decoration: none;
 }

.header-bottom-row span.active {
    color: red;
    text-decoration: none;
}

.header-bottom-row a:hover{
    text-decoration: underline;
}


.footer-links a, .footer-links li{
    color: #fff;
    font-size: 14px;
    padding: 5px 5px;
}

.footer-links a:hover {
    color: #ff933f !important;
}

.footer-links {
    margin-top: 10px;
}

.footer-links ul {
   margin: 0;
    padding: 0;
}

.footer-links li {
    list-style: none;
}

.footer-links hr {
    border: 1px solid #fff;
    display: block;
    margin-bottom: 3px;
}

.pobyt-day-box {
    background: radial-gradient(ellipse 100% 7% at 50% 100%, rgba(55, 55, 55, 0.5) 200px, rgba(55, 55, 55, 0.1) 360px, white 380px);
}

#onas-nganga-img-box {
    display: block;
    min-height: 600px;
    background-image: url("/images/home/onas/moughenda-and-martin.jpg");
}


/*** MEDICAL GUIDELINES ***/
.med-guidelines-box-reqs h3 {
    color: var(--iscz-brown2)
}

.block-reversae-red {
    background-color: red;
    color: #fff;
}


#medical-guidelines-img-box {
    display: block;
    min-height: 698px;
    background-image: url("/images/headers/medical-guidelines.jpg");
    background-repeat: no-repeat;
}

section.medical-guidelines-psychological div.row:nth-child(3) {
    padding-top: 20px;
}

section.medical-guidelines-psychological div.row:nth-child(4) {
    padding-top: 5px;
    background-color: #2e5e2f;
    color: #fff !important;
    font-weight: 700;
    font-size: 30px;
}

section.medical-guidelines-psychological .bg-img p {
    position: absolute;
    left: 600px;
    padding: 20px;
    top: 250px;
}

.medical-guidelines-psychological .bg-img h3{
    color: #fff;
}

.medical-guidelines-psychological p {
    padding: 10px;
}

#retreat-day-img-box-day-5 {
    background-image: url('/images/obrady/torch-600w.jpeg');
}



#img-box-top-med-guidelines blockquote{
    display: block;
   position:absolute;
    color: #fff;
    top: 100px;
    left: 30px;
    width: 460px;
    border-left: none;
    box-shadow: none;
    font-size:26px;
    font-weight: 500;
}

.h-class-warning {
    color: #fff !important;
    background-color: red;
    padding-top: 3px;
    padding-bottom: 10px;
}




#medical-guidelines-img-box p {
    position:absolute;
    color: #fff;
    top: 50px;
    left: 700px;

}


#obrady-medical-guidelines-img-box {
    display: block;
    min-height: 300px;
    background-image: url("/images/obrady/test-med-guidelines.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.retreats-img-box {
    display:   block;
    background: red;
    width: 100vw;
    height: 100vh;
}

ul.lh-150 li {
    line-height: 140%;
}

@media only screen and (max-width: 64em) and (min-width: 20.01em) {
   .menu-main-menu-container {
       display: block;
       visibility: visible;
   }
}
#pobyty-list-overview {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

/*.font-s-blossom {*/
/*    font-family: Samble;*/
/*    font-size: 30px;*/
/*    color: #b81300;*/
/*}*/

/*.font-brillotus {*/
/*     font-family: Brillotus;*/
/*     font-size: 50px;*/

/*     color: #b81300;*/
/* }*/


.font-just-me {
    font-family: 'Just Me Again Down Here', cursive;
    font-weight: 700;
}

.font-just-me-small {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 30px;
    color: var(--dark-red);
    font-weight: 700;
}


.font-gh {
    font-family: gh;
    font-size: 50px;

    color: var(--dark-red);
}

.font-samble {
    font-family: Samble;
    font-size: 30px;
    color: var(--dark-red);
}

#pobyty-list-overview  li {
    line-height: 200%;
}

#pobyty-list-overview li span{
    color: #46b105;
    font-weight: 900;
    font-size: 50px;
    font-family: Samble;
}


/* ================================ */


#iboga-benefits .col ol{
    background: red;
}


/* ================== */

section.home-section-ziot-je-dar {
    background-color: #EBEBEB;;
    color: red;
    font-family: "Lato", Sans-serif;
}

section.home-section-zivot-je-dar h1,  section.home-section-zivot-je-dar h2{
    color: red;
    font-weight: 900;
    margin-top: 1em;
}

#home-kdo-jsme h2 {
    color: #242426;
    font-family: "Lato", Sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0px;
}
#home-kdo-jsme {
    background-color: #EBEBEB;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 62px 0px 70px 0px;
    overflow: hidden;
}

.box-kdo-jsme:hover {
    background-color: rgba(151, 83, 40, 0.55);
}

#home-kdo-jsme .box-kdo-jsme {
    min-height: 604px;
    position: relative;
}
#home-kdo-jsme .box-kdo-jsme img {
    object-fit: contain;
}
#home-kdo-jsme .who-we-are-col-1 .box-kdo-jsme{
    background-color: rgba(151, 83, 40, 0.05);
    padding: 10px;
}

#home-kdo-jsme .who-we-are-col-1 .box-kdo-jsme h2{
    color: rgb(79, 41, 0);
}



#home-kdo-jsme .who-we-are-col-1 .box-kdo-jsme img.photo {
    border: 6px solid #fff;
}
#home-kdo-jsme .who-we-are-col-2 .box-kdo-jsme{
    background-color: rgba(151, 83, 40, 0.13);
    padding: 10px;
}
#home-kdo-jsme .who-we-are-col-2 .box-kdo-jsme h2{
    color: rgba(79, 41, 0, .92);
}

#home-kdo-jsme .who-we-are-col-3 .box-kdo-jsme {
     background-color: rgba(151, 83, 40, 0.22);
     padding: 10px;
 }


#home-kdo-jsme .who-we-are-col-3 .box-kdo-jsme h2{
    color: rgba(79, 41, 0, .85);
}

#home-kdo-jsme .box-kdo-jsme .button-show-more{
    display: block;
    align-items: center;
    position: absolute;
    width: 100%;
    /*overflow: hidden;*/
    text-align: center;
    bottom: 10px;
}

.row-kdo-jsme {
    max-width: 1200px;
}

.site-content {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
}

.show-more-button.jet-button__plane-normal {

    background-color: red;

}

.row-show-more-button {
    bottom: 10px;
    position: absolute;
}

#home-parallax {
    background-image: url('/images/iboga/bwiti/bwiti-all-1200w.jpg');
    background-position:top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;

    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 135px 0px 110px 0px;
    -widgets-spacing: 20px;
}

    #home-parallax h2 {
        color: #FFFFFF;
        font-family: "Lato", Sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: 2px;
    }

#home-parallax p {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
}


.page-header-bg {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 0 0 0 !important;
}

#iboga-index-page-header {
    background-image: url('/images/iboga/iboga-woods-header.jpg');
    background-repeat: no-repeat;
}

#iboga-vs-aya-page-header {
    background-image: url('/images/iboga/iboga-banner-1200.jpg');
}

#iboga-vs-aya-page-pg-entheo {
    background-image: url('/images/iboga/iboga-vs-aya-entheogens.jpeg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
}

#iboga-vs-aya-page-pg-diet {
    background-image: url('/images/iboga/iboga-vs-aya-entheogens.jpeg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.box-bg-scrollaable {
    display: block;
    width: 100%;
    height: 200px;
    background-position: top;
    background-attachment: fixed;

}

#home-zijte-stastne-pic {
    min-height: 400px;
    width: 100%;
    display:block;
    /*background-image: url('/images/home/poznejte/happy_1200.jpeg');*/
    background-image: url('/images/headers/live-happily-bg-1200.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 30px;
}

/******************************************************************
        W E B S I T E
******************************************************************/
@media screen and (min-width: 601px) {

    body {
        height: 100vh;
    }

    h1 {
        font-size: 80px;
    }


    footer {
        /*bottom: 0px;*/
        /*position: absolute;*/
        /*width: 100%;*/
    }




    section.home-section-ziot-je-dar ing{
        object-fit: cover;
        height: 100%;
    }

    home-section-ziot-je-dar  .padded{
        padding-top: 30px;
    }



    section.home-section-ziot-je-dar .wrapper {
        margin-left: 100px;
        margin-right: 100px;
    }

    section.home-section-ziot-je-dar .wrapper {
        margin-left: 100px;
        margin-right: 100px;
    }


    section.home-section-ziot-je-dar h1 {
        font-size: 60px;
        color: #883102;
    }


    section.home-section-ziot-je-dar p {
        color: #5e5e5e;
        font-size: 15px;
    }

    section.home-section-ziot-je-dar .col p:first-child {
        color: #fff;
        font-size: 20px;
        font-weight: 900;
    }



    section.home-section-ziot-je-dar h2 {
        font-size: 20px;
        color: #883102;
    }


    .animation-element {
        opacity: 0;
        position: relative;
    }
    /*animation element sliding left*/

    .animation-element.slide-left {
        opacity: 0;
        -moz-transition: all 500ms linear;
        -webkit-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        -moz-transform: translate3d(-100px, 0px, 0px);
        -webkit-transform: translate3d(-100px, 0px, 0px);
        -o-transform: translate(-100px, 0px);
        -ms-transform: translate(-100px, 0px);
        transform: translate3d(-100px, 0px, 0px);
    }

    .animation-element.slide-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    /*animation slide left styled for testimonials*/

    .animation-element.slide-left.testimonial {
        float: left;
        width: 47%;
        margin: 0% 1.5% 3% 1.5%;
        background: #F5F5F5;
        padding: 15px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        border: solid 1px #EAEAEA;
    }
    .animation-element.slide-left.testimonial:hover,
    .animation-element.slide-left.testimonial:active{
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .animation-element.slide-left.testimonial:nth-of-type(odd) {
        width: 48.5%;
        margin: 0% 1.5% 3.0% 0%;
    }

    .animation-element.slide-left.testimonial:nth-of-type(even) {
        width: 48.5%;
        margin: 0% 0% 3.0% 1.5%;
    }

    .animation-element.slide-left.testimonial .header{
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    .animation-element.slide-left.testimonial .left{
        float: left;
        margin-right: 15px;
    }
    .animation-element.slide-left.testimonial .right{
        float: left;
    }

    .animation-element.slide-left.testimonial img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
    }

    .animation-element.slide-left.testimonial h3 {
        margin: 0px 0px 5px 0px;
    }

    .animation-element.slide-left.testimonial h4 {
        margin: 0px 0px 5px 0px;
    }

    .animation-element.slide-left.testimonial .content {
        float: left;
        width:100%;
        margin-bottom: 10px;
    }

    .animation-element.slide-left.testimonial .rating{}

    .animation-element.slide-left.testimonial i {
        color: #aaa;
        margin-right: 5px;
    }

    #home-parallax h2 {
        color: #FFFFFF;
        font-family: "Lato", Sans-serif;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: 2px;
    }

}
/***************** M E D I C A L   G U I D E L I N E S *****************************/

#medical-quidelines-container .bg-container   {
    background-color: var(--okr-light);
}

#medical-quidelines-container .bg-container-beige   {
    background-color: var(--beige);
}

#img-box-top-med-guidelines {
    display: block;
    width: 1200px;
    height: 343px;
    background-image: url('/images/headers/medical-guidelines.jpeg');
    background-repeat: no-repeat;
    position: relative;
}

#img-box-top-med-guidelines h1 {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #f1931b;
}

/*
XS
*/


.home-index-under-carousel {
    font-size: 80px;
}

footer {

    background: rgb(40,23,1);
    background: linear-gradient(96deg, rgba(40,23,1,1) 15%, rgba(131,49,10,1) 63%, rgba(176,118,4,1) 100%);
}

footer a{
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/** MOBILE ***/
@media screen and (max-width: 400px) {
    .h1-heading, h1 {
        font-size: 40px;
    }

    .h2-heading, h2 {
        font-size: 30px;
    }

    h3, h4 {
        padding: 5px;
    }

    p {
        padding: 10px;
    }

    /********************* HOME ******************/

    .menu-iboga-container {
        width: 100%;
    }

    .home-index-under-carousel {
        font-size: 34px;
        text-align: center;
    }

    #home-zijte-stastne-pic {
        min-height: 300px;
        width: 100%;
        display:block;
        background-color: rgb(147, 181, 75);
        background-image: url('/images/headers/live-happily-400w.jpg');
        background-repeat: no-repeat;
        height: auto;
        padding-left: 5px;
    }

    #home-zijte-stastne-pic p:first-child {
       color: saddlebrown;
        margin-top: 200px;
        background-color: rgba(147, 181, 75, 0.6);
    }

    #home-zijte-stastne-pic p {
        color: saddlebrown;


    }

    #home-zijte-stastne-pic h1 {
        color: #ff2a2a;
        font-size: 38px;
        font-weight: bold;
    }

    #home-happily-white-row {
        background: #E9E9E9;
        margin: 30px;
        padding-top: 10px;
    }

    #home-happily-white-row h2 {
        font-size : 40px;
        text-align: center;
    }

    #home-happily-white-row p {
        text-align: center;
    }

    #iboga-bwiti-tradice-top-image {
        display: block;
        min-height: 483px;
        background-image: url("/images/iboga/bwiti/bwiti-scotty-400w.jpg");
        background-repeat: no-repeat;
        width: 100vw;
    }
    #iboga-bwiti-tradice-top-image h1{
        color: #fff;
        margin-left: 10px;
        font-size: 45px;
    }
    #iboga-bwiti-tradice-top-image .text-box{
        color: #fff;
        margin-left:20px;
        margin-top: 200px;
    }

    #iboga-bwiti-tradice-top-image .text-box  h3{
        color: #fff;
    }

    #home-parallax {
        background-image: url('/images/iboga/bwiti/bwiti-all-400w.jpg');

    }

    #home-parallax h2 {
        padding-left: 5px;

    }
    section.home-section-ziot-je-dar h1 {
        font-size: 38px;
        margin-top: 0px;
        color: rgba(46,94,47,0);
    }


    #img-box-iboga-helps h2 {
        color: #6b4c16;
        padding-bottom: 0px;
        font-size: 50px;
    }

    #how-iboga-helps-h2-who-is-for {
        padding: 0 20px 10px 20px;
    }

    #how-iboga-helps-h2-who-is-for h2 {
        font-size: 30px;
        margin: 30px;
        background-color: #fff;
        font-family: Lato, Arial;

    }

    /* how-iboga-helps page */
    #img-box-iboga-helps {
        background-image: url('/images/headers/misc-nature-trip-woman-400w.jpeg');
        min-height: 240px;
    }

    #img-box-iboga-helps h2 {
        color: #760505;
        width: 240px;
        padding-left: 10px;

        line-height: 85%;

    }

    #img-box-iboga-helps blockquote:before {
        padding-top: 0px;
        padding-left: 10px;
    }

    #img-box-iboga-helps-middle blockquote {
        padding-top: 25px;
    }

    #img-box-iboga-helps blockquote {


        width: 260px;
        font-size: 20px;
        top: -10px;
        padding-top: 20px;
        padding-bottom: 0;
        line-height: 120%;

    }


    #img-box-iboga-helps-middle {
        background-image: url('/images/headers/sunshine-meadow-400w.jpeg');
        min-height: 240px;
        background-color: red;
    }

    ol.how-iboga-helps-3-reasoes-list {
        margin-left: 20px;
    }
    ol.how-iboga-helps-3-reasoes-list li {
        font-size: 1.5em;
    }
    /**
    PAGE - Medical Quidelines
     */

    #img-box-top-med-guidelines h1{
        color: #1f713f;
        font-size: 50px;
    }
    #img-box-top-med-guidelines {
        display: block;
        width: 400px;
        height: 343px;
        background-image: url('/images/headers/medical-guidelines-forms-400w.jpg');
        background-repeat: no-repeat;
        position: relative;
    }

    #img-box-top-med-guidelines blockquote {
        display: block;
        color: #019a00;
        top: 120px;
        left: 5px;
        width: 95%;
        border-left: none;
        box-shadow: none;
        font-size: 18px;
        font-weight: 500;
        background-color: rgba(255, 255, 255, .7);
    }

    /* Terminy */

    .retreat-info {
        border-bottom: 3px solid #fff;
    }
    .retreat-info h3{
        border-bottom: 3px solid #fff;
    }
}



/******************************************************************
        M O B I L E
 *****************************************************************/
@media screen and (min-width: 401px) and (max-width: 600px) {
    section.home-section-ziot-je-dar .wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    /*
    section.home-section-ziot-je-dar
     */
     h1.page-heading {
        font-size: 32px;
    }

    section.home-section-ziot-je-dar h1 {
        font-size: 32px;
    }


    section.home-section-ziot-je-dar p {
        font-size: 16px;
    }

    #home-parallax h2 {
        font-size: 32px;

    }
}







/*media queries for small devices*/
@media screen and (max-width: 678px){
    /*testimonials*/
    .animation-element.slide-left.testimonial,
    .animation-element.slide-left.testimonial:nth-of-type(odd),
    .animation-element.slide-left.testimonial:nth-of-type(even){
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .animation-element.slide-left.testimonial .right,
    .animation-element.slide-left.testimonial .left,
    .animation-element.slide-left.testimonial .content,
    .animation-element.slide-left.testimonial .rating{
        text-align: center;
        float: none;
    }
    .animation-element.slide-left.testimonial img{
        width: 85px;
        height: 85px;
        margin-bottom: 5px;
    }

}


/**
preparation *************************************************************
 */
.faq-question {
    font-size: 18px;
    font-weight: 600;
    color: #3b860f;
}

#ceremonies-preparation-mind-img-box {
    display: block;
    height: 300px;
    background-image: url('/images/obrady/pages/preparation/third-eye-woman-1200w.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}



/*  HOME */
#home-zijte-stastne  {
    color: #fff;
    font-family: "Lato", Sans-serif;
    background-color: #381401;
    padding-top: 20px;
}

#home-zijte-stastne .container-fluid {
    background-color: #000;
}

/*#home-zijte-stastne .container-fluid .stastne-half-col-bg-left {*/
/*    background-color: #000;*/
/*}*/

#home-zijte-stastne .container-fluid div.stastne-half-col-bg-left div.row {
    position: relative;
    align-content: end;
    justify-content: right;
}

#home-zijte-stastne .container-fluid .stastne-half-col-bg-right {
    background-color: #54595F;
}

#home-zijte-stastne .container-fluid div div.row .col  {
    max-width: 500px;
}

#home-stastne-left-col {
    min-height: 475px;
}

#home-stastne-left-col .row-show-more-button {
    bottom: 30px;
}

#home-zijte-stastne  h2 {
    font-weight: 900;
    font-size: 50px;
    color: #fff;
}

.menu-iboga-container {
    width: 73%;
    margin-top: 20px;
}

.menu-iboga-container a {
    text-transform: uppercase;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 0px;
    text-decoration:  none;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: block;
}

.menu-iboga-container a:hover {
    background-color: #A07A5A;
    color: #fff;
}




/**************************************************************/
.component{
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 750px;
    margin:0 auto;
    padding: 3rem;
}

.component blockquote.quote {
    position: relative;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #484748;
    margin: 1rem auto 2rem;
}
.component blockquote.EN {
    background:
        linear-gradient(to right, #039be5 4px, transparent 4px) 0 100%,
        linear-gradient(to left, #039be5 4px, transparent 4px) 100% 0,
        linear-gradient(to bottom, #039be5 4px, transparent 4px) 100% 0,
        linear-gradient(to top, #039be5 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.component blockquote.DE {
    background:
        linear-gradient(to right, #039be5 4px, transparent 4px) 0% 0%,
        linear-gradient(to bottom, #039be5 4px, transparent 4px) 0% 0%,
        linear-gradient(to left, #039be5 4px, transparent 4px) 100% 100%,
        linear-gradient(to top, #039be5 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}


/*!* -- create the quotation marks -- *!*/
/*.component blockquote.quote:before,*/
/*.component blockquote.quote:after{*/
/*    font-family: FontAwesome;*/
/*    position: absolute;*/
/*    color: #039be5;*/
/*    font-size: 34px;*/
/*}*/

/*.component blockquote.EN:before{*/
/*    content: "\f10d";*/
/*    top: -12px;*/
/*    margin-right: -20px;*/
/*    right: 100%;*/
/*}*/
/*.component blockquote.EN:after{*/
/*    content: "\f10e";*/
/*    margin-left: -20px;*/
/*    left: 100%;*/
/*    top: auto;*/
/*    bottom: -20px;*/
/*}*/
/*.component blockquote.DE:before{*/
/*    content: "\f10e";*/
/*    margin-right: -20px;*/
/*    bottom: -20px;*/
/*    right: 100%;*/
/*}*/
/*.component blockquote.DE:after{*/
/*    content: "\f10d";*/
/*    margin-left: -20px;*/
/*    left: 100%;*/
/*    top: -20px;*/
/*    bottom: auto;*/
/*}*/

/*.zitat1 {*/
/*    position: relative;*/
/*    font-family: 'Verdana', serif;*/
/*    font-size: 2.4em;*/
/*    line-height: 1.5em;*/
/*}*/
/*.zitat1 cite {*/
/*    font-family: 'Verdana', sans-serif;*/
/*    font-size: 0.6em;*/
/*    font-weight: 700;*/
/*    color: #bdbec0;*/
/*    float: right;*/
/*}*/
/*.zitat1 cite:before {*/
/*    content: '\2015'' ';*/
/*}*/
/*.zitat1:after {*/
/*    content: '\201d';*/
/*    position: absolute;*/
/*    top: 0.28em;*/
/*    right: 0px;*/
/*    font-size: 6em;*/
/*    font-style: italic;*/
/*    color: #bdbec0;*/
/*    z-index: -1;*/
/*}*/
/*.sidekick {*/
/*    position: relative;*/
/*    padding-left: 1em;*/
/*    border-left: 0.2em solid #039be5;*/
/*    font-family: 'Roboto', serif;*/
/*    font-size: 2.4em;*/
/*    line-height: 1.5em;*/
/*    font-weight: 100;*/
/*}*/
/*.sidekick:before, .sidekick:after {*/
/*    font-family: Calibri;*/
/*    color: #039be5;*/
/*    font-size: 34px;*/
/*}*/
/*.sidekick:before {content: '\201e'}*/
/*.sidekick:after {content: '\201c';}*/
/*.sidekick cite {font-size: 50%; text-align:center; top:50%}*/
/*.sidekick cite:before {content: ' \2015 '}*/



