/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 100px;
  z-index: 10;
}
.carousel-caption p a{
    color: #fff;

}

.carousel .carousel-item:first-child .carousel-caption h1{
    left: 25%;
    width: 80%;
    top: 260px;
}
/** first one */
.carousel .carousel-item:first-child .carousel-caption p{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.carousel .carousel-item:first-child  h1 {
    font-family: "Lato", Sans-serif;
    font-size: 60px;
}

/** 2nd one */
.carousel .carousel-item:nth-child(2) .carousel-caption {
    top: -10px;
}

.carousel .carousel-item:nth-child(2) .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.carousel .carousel-item:nth-child(2)  h1 {
    font-family: "Lato", Sans-serif;
    font-size: 60px;

}

/** 3rd one */


.carousel .carousel-item:nth-child(3) .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.carousel .carousel-item:nth-child(3)  h1 {
    font-family: "Lato", Sans-serif;
    font-size: 60px;
    position: relative;
    top: 0px;
    left : 0px;
}

.carousel .carousel-caption > h1 {
    font-family: "Lato", Sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    letter-spacing: -4px;
    top:  200px;
    left: 300px;
}


@media screen and  (min-width: 401px)  and (max-width: 600px) {
    .carousel-item:first-child  h1 {
        font-family: "Lato", Sans-serif;
        font-size: 30px;
    }

    .carousel-caption > h1 {
        font-family: "Lato", Sans-serif;
        font-size: 40px;
        color: #fff;
        font-weight: 900;
        letter-spacing: -4px;
    }

    .carousel-caption {
        top: 40px;
    }

}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
    /*background-color: yellow !important;*/
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 32rem;*/
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media screen and (max-width: 400px ) {
    .carousel-item {
        height: 240px !important;

    }
    .carousel-item img{
        height: 240px !important;
        object-fit: cover;
    }

    .carousel-caption {
        top: 0px;
    }

    .carousel-caption h1 {
        font-size: 28px;
    }

    .carousel-item:first-child  h1 {
        font-family: "Lato", Sans-serif;
        font-size: 30px;
        letter-spacing: 0px;
    }

    .carousel-item:nth-child(2)  h1 {
        color: #fff;
        letter-spacing: 0px;
        position: relative;
        left: 120px;
        top: -5px;
        text-align: right;
        width: 200px;
        font-size: 30px;
    }

    .carousel-item:nth-child(3)  h1 {
        color: #fff;
        letter-spacing: 0px;

        font-size: 30px;
    }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}


@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
